In [1]:
import numpy as np
import pandas as pd

In [3]:
df2= pd.read_csv('/content/sample_data/sales_large.csv')
df2.head()
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Region   20 non-null     object
 1   Product  20 non-null     object
 2   Sales    20 non-null     int64
dtypes: int64(1), object(2)
memory usage: 612.0+ bytes

In [4]:
unpdf2 = df2.groupby('Region')
unpdf2.head()

     Region  Product  Sales
0      East   Apples   5000
1      West  Bananas   7000
2      East  Oranges   4000
3      West   Apples   6000
4     South  Oranges   3000
5     North  Bananas   9000
6      East  Bananas   8500
7      West  Oranges   7500
8     South   Apples   6700
9     North   Apples   7200
10    South  Bananas   5100
11  Central  Oranges   8000
12     East  Oranges   4800
13     West   Apples   5600
14    North  Oranges   4900
15    South   Apples   6200
16     West  Bananas   7700
17  Central   Apples   9000
18     East  Oranges   5100

In [5]:
unpdf2 = df2.groupby('Region')["Sales"].sum()
unpdf2

Region
Central    17000
East       27400
North      21100
South      21000
West       41100
Name: Sales, dtype: int64