In [1]:
import numpy as np
import pandas as pd

In [3]:
df= pd.read_csv('/content/employees_large.csv')
df.head()
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Name        20 non-null     object
 1   Age         20 non-null     int64
 2   Salary      20 non-null     int64
 3   Department  20 non-null     object
dtypes: int64(2), object(2)
memory usage: 772.0+ bytes

In [6]:
updated_df = df.groupby("Department")["Salary"].mean()
updated_df

Department
Engineering    125000.0
Finance         78000.0
HR              68000.0
IT              57750.0
Marketing       43750.0
Name: Salary, dtype: float64

In [7]:
print(updated_df.max)

<bound method Series.max of Department
Engineering    125000.0
Finance         78000.0
HR              68000.0
IT              57750.0
Marketing       43750.0
Name: Salary, dtype: float64>